body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1050px;
    margin: auto;
}

.clear-fix {
    clear: both;
}

.btn {
    font-size: 14px;
    color: #000;
    border: 1px solid #e3e2e7;
    padding: 5px 10px;
    background: #f7f7f9;
    font-weight: bold;
    border-radius: 0.5px;
}

.btn i {
    color: #bdc1ca;
    font-size: 15px;
}

nav {
    background: #3a579b;
    height: 50px;
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

.navbar-left ul li a i {
    font-size: 30px;
    color: #fff;
    line-height: 50px;
}

nav ul li {
    float: left;
}

.navbar-left ul li input {
    display: inline-block;
    width: 500px;
    height: 28px;
    margin-top: 11px;
    margin-left: 7px;
    border-radius: 3px;
    padding: 10px;
}

.navbar-right {
    font-size: 12px;
}

.navbar-right ul li .nav-img {
    width: 30px;
    height: 30px;
    background: #d9d7d8;
    display: inline-block;
    line-height: 50px;
    margin-top: 10px;
    margin-right: 40px;
    border-right: #000103;
}

.navbar-right ul li {
    line-height: 50px;
    margin-right: 10px; 
    padding-right: 10px;
    height: 50px;
}

.navbar-right ul li a {
    color: #fff;
    font-weight: bold;
}

.navbar-right ul li a i.blue-icon {
    color: #1a2340;
    font-size: 18px;
}

.navbar-right ul li a i.blue-icon:hover {
    color: #fff;
}

main {
    background: #eaebef;
    min-height: 100px;
}

aside {
    width: 20%;
    padding: 15px;
    float: left;
}

aside .profile-picture {
    background: #d9d7d8;
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-sizing: border-box;
    margin-bottom: 15px;
}

aside h1.page-title {
    font-weight: normal;
}

aside h4.page-handle {
    font-size: 14px;
    color: #858992;
}

aside ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

aside ul li {
    padding: 5px 0 5px 10px;
}

aside ul li.active {
    background: #dfe0e4
}

aside ul li a {
    color: #000;
    font-size: 14px;
}

aside ul li a.active {
    font-weight: bold;
}

.side-btn {
    color: #fff;
    background: #3cb818;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}

content {
    width: 80%;
    min-height: 100px;
    float: right;
}

.cover-photo {
    height: 290px;
    background: #d9d7d8;
}

.contact {
    background: #fff;
    height: 50px;
    padding: 15px;
}

.contact ul {
    width: 50%;
    float: left;
}

.contact ul li {
    float: left;
    margin: 0;
}

.sign-up-btn {
    float: right;
    width: 38%;
    text-align: center;
    background: #3c7dff;
    font-weight: normal;
    color: #fff;
    border-radius: 5px;
}

section {
    margin-top: 15px;
}

section.mid-section {
    width: 60%;
    min-height: 250px;
    float: left;
}

.status {
    background: #fff;
    min-height: 100px;
}

.status-header {
    background: #f6f7f9;
    height: 35px;
    padding: 10px;
    line-height: 15px;
    border-bottom: 1px solid #bdc1ca;
}

.status-body {
    padding: 10px;
}

.main-img {
    width: 60px;
    height: 60px;
    background: #d9d7d8;
    display: inline-block;
    margin-right: 10px;
}

.status-body textarea {
    width: 80%;
    height: 60px;
    padding: 10px;
}

.post {
    background: #fff;
    margin-top: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

.post .post-header {
    margin-bottom: 15px;
}

.post .post-header ul {
    display: inline-block;
    line-height: 32px;
}

.post .page-link {
    color: #1f438f;
    font-weight: bold;
    font-size: 14px;
}

.post .timestamp {
    font-size: 12px;
    color: #747b83;
}

.post-body {
    margin-bottom: 15px;
}

.post-body p.caption {
    color: #000;
}

.post-img {
    width: 100%;
    height: 300px;
    background: #efeff1;
    margin-top: 10px;
}

.post-reactions ul li {
    display: inline-block;
    width: 100px;
}

.post-reactions a {
    color: #7a7a7a;
    font-weight: bold;
}

.post-reactions a i {
    color: #aeb5bf;
}

.side-section {
    width: 38%;
    min-height: 250px;
    float: right
}

.page-type {
    padding: 10px 15px;
    background: #fff;
    margin-bottom: 15px;
}

.page-search {
    background: #fff;
    height: 35px;
    margin-bottom: 15px;
}

.page-search input {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.page-analytics {
    background: #fff;
    padding: 10px;
}

.page-analytics p {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}

.analytics-header {
    padding-bottom: 5px;
}

.analytics-invite {
    border-top: 1px solid #c3c3c3;
    padding-top: 10px;
}

.status-header {
    margin-top: 15px;
}

.about {
    background: #fff;
}

.about-space {
    height: 250px;
}

.about-body {
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
}

.about-body a.link {
    display: inline-block;
    margin-top: 10px;
}