.table>tbody>tr>td, .table>thead>tr>th {
    padding: 12px;
}

.avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.avatar img {
    width: 100%;
}

p {
    margin: 0;
}

a.name {
    color: #982659; 
    line-height: 100%;
}

p.email {
    color: #9d9ea3;
}