/* Applies required fonts */
body {
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Removes border radius from navbar */
nav.navbar {
    border-radius: 0;
    margin: 0;
}

/* Styles the brand text */

.navbar-header a.navbar-brand {
    font-family: 'Kaushan Script',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    color: #fed136;
    font-size: 20px;
}

.navbar-collapse ul.navbar-nav li a {
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    color: #fff;
}

.navbar-collapse ul.navbar-nav li a:hover {
    color: #fed136;
}

section {
    padding-top: 150px;
    text-align: center;
}

section.banner {
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    min-height: 650px;
    background: url("../img/header-bg.jpg");
    background-size: cover;
}

section.banner h3.intro-title {
    font-family: 'Roboto';
    color: #fff;
    font-size: 40px;
    font-style: italic;
}

section.banner p.intro-subtitle {
    font-family: Montserrat;
    color: #fff;
    font-size: 75px;
    font-weight: 700;
}

a.btn-custom {
    background-color: #fec810;
    border-color: #fec810;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 50px;
}

h4.title {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

p.subtitle {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: #6c757d;
    margin-bottom: 50px;
}

section.services {
    min-height: 700px;
}

.icon-container {
    width: 130px;
    height: 130px;
    background: #fec810;
    color: white;
    border-radius: 50%;
    margin: auto;
}


i.fas {
    display: inline-block;
    font-weight: 700;
    line-height: 130px;
    font-size: 70px;
    color: #fff;
}

h4.heading, .team-heading {
    font-family: Montserrat;
    font-weight: 700;
    margin: 15px 0;
    font-size: 25px;
}

p.content, .team-content {
    font-size: 16px;
    color: #6c757d;
}

section.portfolio {
    background: #f8f9fa;
}

section.portfolio .thumbnail {
    padding: 0;
    border-radius: 0;
    border: none;
}

section.portfolio .thumbnail .caption p.content {
    font-style: italic;
}

section.about {
    position: relative;
}

.card-row {
    min-height: 300px;
    position: relative;
}

.card-row-left, .card-row-right {
    width: 25%;
    display: inline-block;
    min-height: 300px;
    padding: 0 15px;
}

.card-row-left {
    text-align: right;
}

.card-row-right {
    text-align: left;
}


.card-row-img {
    /*min-width: 20%;*/
    max-height: 200px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    border: 7px solid #c3c3c3;
}

.card-row-img img {
    width: 100%;
}

.card-row-img.icon-container {
    width: 214px;
    height: 200px;
    display: inline-block;
    border-radius: 50%;
    border: 7px solid #c3c3c3;
    padding-top: 50px;
}

.card-row-img.icon-container p {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
}

.line {
    width: 0;
    border: 3px solid #c3c3c3;
    height: 73%;
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 0;
}

.team {
    min-height: 500px;
    padding-top: 150px;
    text-align: center;
    background: #f8f9fa;
}

.team .img {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.team .img img {
    width: 100%;
}

.team .card h3 {
    padding-top: 30px;
}

.team .card p {
    padding-top: 5px;
}

.team .card .social-links{
    display: inline-block;
    width: 70%;
    height: 75px;
    margin-top: 5px;
}

.social-links a{
    font-size: 20px;
    color: #fff;
    background: #212529;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

.social-links a:hover{
    background: #fec810
}

.social-links a i{
    line-height: 50px;
}

.team p.content {
    width: 63%;
    margin: auto;
    margin-top: 25px;
    padding-bottom: 165px;
}

.brands {
    padding-top: 25px;
    height: 100px;
}

.contact {
    min-height: 500px;
    background-color: #212529;
    background-image: url("../img/map-image.png");
    color: #fff;
    text-align: center;
}

input.form-control {
    height: 60px;
    padding: 20px;
    font-weight: 700;
    border: #fed136;
}

.form-control::placeholder {
    color: #000;
}

textarea.form-control {
    height: 210px;
}

footer {
    height: 100px;
    font-family: Montserrat;
    font-size: 16px;
}

footer .copyright {
    line-height: 100px;
    font-size: 90%;
    display: inline-block;
}

footer .social-links {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

footer .docs {
    display: inline-block;
    text-align: left;
}

footer .docs a {
    line-height: 100px;
    margin: 0 5px;
    color: #fed136;
}

footer .docs a:hover {
    text-decoration: underline;
}