.clear-fix {
    clear: both;
}

.no-padding {
    padding: 0;
}

.navbar-inverse {
    background: #191816;
    border-radius: 0;
    margin: 0;
}

.navbar-inverse a.navbar-brand {
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}

.navbar-brand i {
    color: #56d7fe;
}

.navbar-form .form-group .form-control {
    width: 300px;
    background: #656565;
    border: none;
    color: white;
}

.navbar-right li a i {
    font-size: 20px;
}

.dropdown-toggle::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f099';
    font-weight: 400;

}

.small-twitter-img {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #fff;
    background: #6c9ab4;
    line-height: 30px;
    text-align: center;
}

.dropdown-toggle::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    line-height: 30px;
    font-family: "Font Awesome 5 Free";
    content: '\f007';
    font-weight: 800;
    width: 30px;
    height: 30px;
    background: #6c9ab4;
    color: #fff;
    margin-right: 10px;
}

main {
      background: #92c0da;
      padding: 15px;
}

section {
      background: #fff;
      width: 60%;
      padding: 10px;
      float: left;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      border-right: 1px solid #c3c3c3;
}

.user-img {
    background: #71a2c2;
    width: 150px;
    height: 150px;
    font-size: 40px;
    line-height: 150px;
    vertical-align: top;
}

.user-info {
      background: #fff;
      padding: 5px;
      margin-bottom: 15px;
}

.user-info .info {
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
}

.user-info .info h1 {
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.user-info .info h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.user-info .info h3 span.user-location {
    font-weight: normal;
}

.user-info .info p.bio {
    margin: 0;
    margin-bottom: 5px;
    color: #919191;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 500;
}

.user-info .info a.link {
    font-style: italic;
}

.user-interaction {
    background: #f3f3f3;
    padding: 10px;
}

.circle-small-btn {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: 1px solid#666;
    padding: 0;
    background: #c3c3c3;
    border-radius: 50%;
    margin-left: 5px;
    color: #666;
}

.circle-small-btn.checked {
    background: #449d44;
    color: #fff;
    border: 1px solid #449d44;
}

textarea.form-control {
    height: 35px;
    margin-bottom: 5px;
}

.tweet-nav {
    padding: 10px;
}

ul.navbar-nav {
    padding: 0;
}

.tweet-nav ul.navbar-nav li {
    list-style: none;
    width: 80px;
    text-align: left;
}

.tweet {
    padding: 5px;
}

.mid-twitter-img {
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
}

.tweet .tweet-data {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    max-width: 550px;
}

.tweet h3.tweet-username {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}

.tweet h3 span.tweet-handle {
    font-size: 14px;
    color: #919191;
    font-weight: normal;
    margin-bottom: 5px;
}

.tweet p.tweet-content {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    margin-bottom: 5px;
}

.tweet p.tweet-timestamp {
    color: #c3c3c3;
    font-size: 11px;
}

.tweets hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

aside {
    width: 40%;
    display: inline-block;
    background: #d8e0e2;
    padding: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-left: 1px solid #c3c3c3;
}

.user-stats {
    padding: 10px;
}

.user-stats h2 {
    display: inline-block;
    font-size: 20px;
    margin-left: 5px;
}

.user-stats ul {
    margin-top: 15px;
    padding: 0;
}

.user-stats ul li {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 20px;
}

.user-stats ul li.no-border {
    border: none;
}

.user-stats span.stat-count {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #698c9f;
}

.recent-images {
    padding: 10px;
}

.img-row {
    width: 100%;
    margin: auto;
}

.img-thumbnail {
    width: 100px;
    height: 100px;
    background: #666666;
    border-radius: 0;
}

h3.title {
    color: #666666;
    margin-top: 0;
}

.recommended-people {
    padding: 5px;
}

.user-card {
    padding: 10px;
}

.user-picture {
    width: 50px;
    height: 50px;
}

.user-card-content {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.user-card h4.username {
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}

.user-card h4.username span.user-handle {
    font-weight: normal;
    color: #666666;
    font-size: 14px;

}

.user-card p.bio {
    color: #919191;
    font-style: italic;
}

.following-list {
    padding: 5px;
}

.following-img {
    width: 35px;
    height: 35px;
}

footer {
    padding: 10px;
    height: 232px;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
    display: inline-block;
    width: 60px;
    font-size: 12px;
}

.copyright {
    margin-left: 10px;
    color: #666;
    width: 90px;
}