/*
*
* Styling Form Errors in Modals
*
*/

.form-error {
    width: 100%;
    margin: auto;
    margin-top: 15px;
}

.form-error ul {
    list-style: circle;
    width: 90%;
    margin: auto;
    background: red;
    border-radius: 3px;
    padding: 5px;
}

.form-error ul li {
    width: 100%;
    color: white;
    margin: 6px;
}
