body {
	font-family: Arial, sans-serif;
}

.container {
	width: 100%;
	margin: auto;
}

nav {
	width: 100%;
	height: 50px;
	background: #222222;
}

.brand {
	width: 20%;
	height: 100%;
	float: left;
	line-height: 50px;
}

.brand h1 {
	color: #606060;
	font-size: 20px;
	font-weight: normal;
	margin-left: 10px;
}

.navigation {
	width: 45%;
	height: 100%;
	float: right;
	line-height: 50px;
}

.navigation input {
	display: inline-block;
	width: 30%;
	box-sizing: border-box;
	height: 60%;
	border-radius: 5px;
	margin-left: 28px;
}

.navigation ul {
	width: 65%;
	float: right;
	box-sizing: border-box;
	text-align: center;
	padding-left: 0;
}

.navigation ul li {
	display: inline-block;
	width: 20%;
	box-sizing: border-box;
}

.navigation ul li a {
	color: #606060;
}

main {
	width: 100%;
}

aside {
	height: 753px;
	display: inline-block;
	width: 24%;
	background: #f5f5f5;
	vertical-align: unset;
}

aside ul {
	width: 100%;
	padding-top: 10px;
}

aside ul li {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
}

aside ul li a {
	color: #468cc7;
	width: 100%;
	box-sizing: border-box;
	line-height: 100%;
}

aside ul li.active-li {
	background: #468cc7;
}

aside ul li a.active-a {
	color: white;
}

content {
	width: 72%;
	margin-left: 46.5px;
	box-sizing: border-box;
	height: 100%;
	vertical-align: top;
	display: inline-block;
}

content h2 {
	padding-top: 10px;
	padding-left: 20px;
}

content .graph {
	width: 200px;
	height: 300px;
	display: inline-block;
	margin-left: 2.5%;
	margin-top: 20px;
}

content .graph .circle {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 200px;
	vertical-align: top;
}

content .graph .circle.blue {
	background: #1e90d7;
	color: white;
}

content .graph .circle.green {
	background: #43daad;
	color: black;
}

content .graph h3 {
	padding-top: 5px;
	text-align: center;
}

content .graph p {
	text-align: center;
	color: #c2c2c2;
}

section {
	width: 100%;
	margin-bottom: 20px;
}

content section h2 {
	padding: 0;
}

section table {
	margin-top: 5px;
	width: 100%;
	margin-right: 10px;
}

section table td {
	padding: 2px;
}

section table tr:nth-child(2n){
	background: #f8f8f8;
}