.table>tbody>tr>td, .table>thead>tr>th {
    padding: 12px;
}

.avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.avatar img {
    width: 100%;
}

p {
    margin: 0;
}

a.name {
    color: #982659; 
    line-height: 100%;
}

p.email {
    color: #9d9ea3;
}

h2 {
    color: #2e1149;
    font-weight: bold;
}

.col-md-offset-6 {
    text-align: center;
}

.col-md-3 .btn {
    margin-top: 20px;
    border-radius: 0px;
    padding: 5px 20px;
    text-align: center;
}

hr {
    color: #000;
}

input.form-control {
    border-radius: 0;
}