body {
    font-family: Arial, Helvetica, sans-serif;
}

.clear-fix {
    clear: both;
}

.small-link {
    font-size: 11px;
    color: #c3c3c3;
    display: block;
}

.btn {
    width: 50px;
    padding: 2px 10px;
    background: #6b81bd;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 2px;
    box-sizing: border-box;
}

.container {
    width: 1050px;
    margin: auto;
}

nav {
    background: #3e559b;
    color: #fff;
    height: 75px;
}

nav p {
    font-size: 12px;
    font-weight: bold;
}

.logo {
    width: 150px;
    height: 100%;
    float: left;
    line-height: 75px;
}

.forms {
    height: 100%;
    width: 40%;
    float: right;
    line-height: 25px;
}

.forms .mail {
    float: left;
    margin-left: 5px;
}

.forms .password {
    float: left;
    margin-left: 5px;
}

.forms .login {
    float: left;
    margin-left: 5px;
}

.forms .login .btn {
    margin-top: 22px;
}

.forms input[type=submit] {
    float: left;
}

.forms input[type=checkbox] {
    display: block;
}

main {
    margin: auto;
    background: #dee0ef;
}

section {
    width: 60%;
    float: left;
}

section .facebook-img {
    width: 100%;
    height: 250px;
    background: url("../img/facebook-img-edited.jpeg");
    background-size: cover;
    position: relative;
}

section .facebook-img h2 {
    position: absolute;
    top: 35px;
    left: 220px;
    color: #4e5067;
}

section .facebook-img h4 {
    position: absolute;
    top: 70px;
    left: 220px;
    color: #4e5067;
}

section .facebook-img a.btn {
    position: absolute;
    top: 120px;
    left: 450px;
    color: #000;
    width: 150px;
    background: #eeedf2;
    text-align: center;
}

aside {
    width: 40%;
    float: right;
    padding-top: 30px;
    padding-bottom: 10px;
}

aside h2 {
    margin-bottom: 5px;
    margin-left: 10px;
}

aside h4 {
    margin-bottom: 5px;
    margin-left: 10px;
}

aside hr {
    width: 100%;
}

aside form {
    text-align: right;
}

aside form input, aside form select {
    margin: 5px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
}

aside form select.day {
    width: 50px;
}

aside form select.month {
    width: 100px;
}

aside form select.year {
    width: 50px;
}

aside h6 {
    width: 70%;
    text-align: left;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 30px;
}

aside a.btn {
    background: #6fa84a;
    color: #fff;
    font-size: 14px;
    margin-left: 100px;
    padding: 5px 15px;
    border: none;
}

hr {
    margin-top: 10px;
}

footer {
    min-height: 40px;
}

footer ul li {
    float: left;
    margin-right: 20px;
    line-height: 40px;
}

footer ul li a {
    font-size: 12px;
}