h2 {
    color: #2e1149;
    font-weight: bold;
}

.col-md-offset-6 {
    text-align: center;
}

.col-md-3 .btn {
    margin-top: 20px;
    border-radius: 0px;
    padding: 5px 20px;
    text-align: center;
}

hr {
    color: #000;
}

input.form-control {
    border-radius: 0;
}