body {
    font-family: 'Roboto Slab', serif;
}

.btn-custom {
    background: #fff;
    padding: 5px 30px;
    color: #286ac8;
    font-weight: 700;
}

.btn-white {
    background: #fff;
    color: #000;
    padding: 5px 20px;
}

.btn-white:hover {
    background: #000;
    color: #fff;
    padding: 5px 20px;
}

hr.hr-custom {
    width: 10%;
    border: 1px solid black;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
}

hr.hr-blue {
    border-color: #286ac8;
}

.navbar-custom {
    border-radius: 0;
    background: #000;
    color: #fff;
    height: 75px;
    margin: 0;
}

.navbar-brand h1 {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.navbar-brand h1 span.blue-title {
    color: #286ac8;
}

.navbar-nav {
    margin-top: 5px;
}

.navbar-nav .form-control {
    width: 450px;
}


.navbar-custom>div>ul.navbar-nav>li>a.btn-custom {
    padding: 5px 30px;
    background: #000;
    margin-right: 10px;
    color: #286ac8;
    font-weight: 700;
    margin-top: 10px;
}

.btn-black {
    background: #000;
    border: #286ac8;
    color: white;
    border-radius: 0;
    margin-right: 5px;
}

.btn-black:hover {
    background: #286ac8;
    color: white;
}

.btn-blue {
    background: #286ac8;
    border: #286ac8;
    color: #fff;
    border-radius: 0;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-black:hover {
    background: #fff;
    color: #286ac8;
}


.navbar-custom>div>ul.navbar-nav>li>a.btn-custom:hover {
    color: #fff;
    background: #286ac8;
}

.navbar-nav i.fas, .navbar-nav i.fab {
    font-size: 18px;
    color: #fff;
}

.products {
    width: 100%;
}

.banner-nav {
    background: #94a4b1;
    border: none;
}

.banner-nav ul li a, .banner-nav ul li p {
    color: black;
}

.products ul {
    padding: 0;
    text-align: right;
    margin: 0;
}

.products ul li {
    display: inline-block;
    width: 8.5%;
    font-size: 9px;
    font-weight: 700;
}


.products.category ul li {
    width: 9.5%;
}

.banner {
    min-height: 400px;
    background: url("../img/browser-coffee-cup-6335.jpg");
    background-size: cover;
}

.banner .col-md-6 {
    margin-top: 50px;
}

.banner h3 {
    color: #fff;
    font-size: 30px;
    margin: 0;
}

.banner .mail-form {
    width: 100%;
    padding: 25px;
    background: rgba(255, 255, 255, 0.25);
    margin-top: 10px;
}

.banner .mail-form h3 .big-number {
    font-size: 35px;
    font-weight: 700;
}

.banner .mail-form .form-inline .form-group {
    width: 100%;
}

.banner .mail-form .form-group {
    margin-top: 10px;
}

.banner .mail-form .form-group .mail-input {
    width: 400px;
}

section {
    padding-top: 100px;
    padding-bottom: 20px;
}

section h2 {
    text-align: center;
    text-transform: uppercase;
}

.about h2 {
    color: #0f56a4;
}

.about .row {
    width: 100%;
}

.about .row .col-md-4 {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.about .img {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
}

.about .wide-img {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.about .wide-img img {
    width: 100%;
}

.about .img img {
    width: 100%;
}

h4.title {
    color: #286ac8;
}

p.content {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.about .btn-custom {
    margin: auto;
    text-align: center;
}

.ads {
    background: #efefef;
    text-align: center;
}

.ads .form-control {
    width: 30%;
}

.ads .row {
    margin-top: 25px;
}

.ads .row .thumbnail {
    text-align: left;
}

.ads .row h3 {
    color: #286ac8;
}

p.price {
    font-weight: 700;
    font-size: 20px;
    color: red;
}

footer i.fab {
    margin-bottom: 10px;
}

footer .navbar-custom {
    height: 100px;
}