body {
    font-family: Merriweather;
}

.nav {
    margin: 0;
}

.navbar-default {
    background: #fff;
    margin: 0;
    padding: 16px;
    font-family: Merriweather Sans;
}

.navbar-header a.navbar-brand {
    color: #212529;
    font-weight: 700;
    font-size: 20px;
}

.navbar-header a.navbar-brand:hover {
    color: #f4623a;
}

.navbar-default ul.navbar-nav li a {
    color: #212529;
    font-weight: 700;
}

.navbar-default ul.navbar-nav li a:hover {
    color: #f4623a;
}

section {
    padding-top: 128px;
    text-align: center;
}

section.about {
    background: linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 100%),url(../img/bg-masthead.jpg);
    background-size: cover;
    min-height: 560px;
}

.about h3.intro-title {
    font-family: Merriweather Sans;
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    width: 80%;
    margin: auto;
}

.about p.intro-subtitle {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.75);
    width: 75%;
    margin: auto;
}

.about hr {
    width: 4%;
    border: 1px solid #f4623a;
}

a.btn-custom {
    font-family: Merriweather Sans;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin-top: 50px;
    padding: 20px 40px;
    border-radius: 160px;
    background: #f8f9fa;
    color: #212529;
    margin-bottom: 50px;
}

a.btn-custom:hover {
    background: #e2e6ea;
    color: #212529;
}

.about a.btn-custom {
    background: #f4623a;
    color: #fff;
}

.about a.btn-custom:hover {
    background: #f24516;
}

section.header {
    min-height: 450px;
    background: #f4623a;
}

h4.title {
    font-family: Merriweather Sans;
    color: white;
    font-size: 30px;
    width: 80%;
    margin: auto;
}

p.subtitle {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.75);
    width: 75%;
    margin: auto;
}

.header hr {
    width: 4%;
    border: 1px solid #fff;
}

section.services {
    min-height: 500px;
}
.services h4.title {
    color: #212529;
}

.services hr {
    width: 4%;
    border: 1px solid #212529;
}

.icon-container {
    width: 100px;
    background: #fff;
    height: 100px;
    margin: auto;
}

.icon-container i.fas {
    font-size: 60px;
    line-height: 100px;
    color: #f4623a;
}

h4.heading {
    font-family: Merriweather Sans;
    font-size: 25px;
}

p.content {
    color: #6c757d;
    font-size: 16px;
}

section.portfolio {
    background: #343a40;
    min-height: 850px;
    padding: 0;
}

.row {
    width: 100%;
    margin: auto;
}

.row .col-md-4 {
    padding: 0;
}

.row .col-md-4 img {
    width: 100%;
}

.row-bottom {
    margin-bottom: 100px;
}

.contact {
    min-height: 500px;
}

.contact h4.title {
    color: #212529;
}

.contact hr {
    width: 4%;
    border: 1px solid #f4623a;
}

.contact .content {
    width: 75%;
    margin: auto;
}

.contact i.fas {
    color: #6c757d;
}

.contact p, .contact a{
    font-size: 16px;
}

.contact a {
    color: #f4623a;
}

footer {
    min-height: 100px;
    background: #f8f9fa;
}

footer p {
    text-align: center;
    color: #6c757d;
    font-size: 14px;
    line-height: 100px;
}