body {
    font-family: 'Libre Franklin';
}

.navbar-default {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.26);
    border: 0;
    margin: 0;
}

.navbar-default .navbar-header {
    height: 100%;
}

.navbar .container {
    height: 100%;
}
.navbar-default .navbar-header .navbar-brand {
    height: 100%;
}
.navbar-default img {
    height: 100%;
}

.navbar-default .navbar-nav li a {
    color: #2d2e2e;
    line-height: 40px;
    font-size: 16px;
}

.navbar-default .navbar-nav li a:hover {
    color: #2fa943;
}

.navbar-default.navbar-nav li a.login {
    font-weight: lighter;
}

section {
    padding: 25px;
}

section.banner {
    min-height: 650px;
    text-align: center;
}

h1.title {
    font-size: 45px;
    text-align: center;
    color: #131414;
    margin-bottom: 15px;
}

h3.slogan {
    text-align: center;
    margin: auto;
    width: 55%;
    font-size: 16px;
    border-top: 1px solid #b6bfbf;
    border-bottom: 1px solid #b6bfbf;
    letter-spacing: 2.2px;
    padding: 15px;
    margin-bottom: 40px;
}

.banner .img-responsive {
    margin: auto;
    margin-bottom: 50px;
}

.btn-custom {
    border-radius: 15px;
    font-size: 16px;
    padding: 15px 15px;
    margin-bottom: 50px;
}

.usage img.img-responsive {
    margin: auto;
}

h2.subtitle {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    word-spacing: 8px;
    margin-bottom: 100px;
}

.row {
    width: 100%;
}

.bottom-row {
    margin-bottom: 40px;
}

.col-md-4 {
    border-right: 1px solid rgba(66, 66, 66, 0.25);
}

.col-md-4.no-border {
    border: none;
}

.col-md-4 .img-container {
    display: inline-block;
    width: 100%;
    height: 100px;
    text-align: center;
    margin-bottom: 40px;
}

.col-md-4 .img-container img {
    height: 100%;
}

.col-md-4 h5.heading {
    margin: auto;
    width: 80%;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #161414;
}

.col-md-4 p.content {
    margin: auto;
    width: 80%;
    color: #161414;
    font-size: 15px;
}

section.features {
    background: url("../img/img5.jpg");
    background-size: cover;
    padding-bottom: 30px;;
}

.features .img-responsive {
    margin: auto;
}

.col-md-3 {
    padding-bottom: 30px;
    border-right: 1px solid rgba(66, 66, 66, 0.25);
    border-bottom: 1px solid rgba(66, 66, 66, 0.25);
    padding-top: 10px;
    box-sizing: border-box;
    min-height: 240px;
}

.col-md-3 .img-container {
    width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
}

.features h5.heading {
    text-align: center;
    font-size: 18px;
}

.features p.content {
    text-align: center;
    width: 90%;
}

section.video {
    background: #f5f6f6;
}

.video .img-responsive {
    margin: auto
}

.video .vid {
    margin: auto;
    width: 50%;
}

.col-5 {
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
    border-right: 1px solid rgba(66, 66, 66, 0.25);
    vertical-align: top;
    margin: auto;
}

.users .col-5 .img-container {
    display: inline-block;
    height: 90px;
    width: 150px;
    margin-left: 17%;
}

.users .col-5 .img-container img {
    width: 100%;
}

.users img.img-responsive {
    margin: auto;
}

section.testimonials {
    background: url("../img/img5.jpg")
}

.testimonials .img-responsive {
    margin: auto;
}

.testimonials .row {
    width: 100%;
    margin: auto;
    margin: 0;
    padding: 0;
}

.testimonials .row .col-md-6 {
    height: 100%;
    margin: 0;
    padding: 0;
}

.testimonials .img-block {
    display: inline-block;
    height: 100%;
    width: 25%;
    margin: 0;
}

.testimonials .img-block .img-container {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials .img-container {
    width: 100%;
}

.testimonials .quote {
    width: 70%;
    display: inline-block;
}

.testimonials blockquote {
    display: inline-block;
    font-style: italic;
}

p.author {
    color: #3e636a;
    font-weight: 700;
    margin-left: 175px;
    font-size: 20px;
}

p.position {
    margin-left: 175px;
    font-size: 20px;
    color: #424444;
}

section.languages {

}

.languages .img-responsive {
    margin: auto;
}

.col-9 {
    width: 11.11111%;
    display: inline-block;
}

.col-9 .img-container {
    display: inline-block;
    margin: auto;
    height: 60px;
    width: 60px;
    overflow: hidden;
    margin-left: 30%;
    margin-bottom: 20px;
}

.col-9 .img-container img {
    height: 100%;
}

.col-9 p.content {
    text-align: center;
}

section.register {
    background: #2fa943;
    text-align: center;
}

.register h2.subtitle {
    color: #fff;
}

.register .btn-custom {
    border-radius: 10px;
    border: none;
    font-size: 25px;
    letter-spacing: .9px;
    padding: 8px 25px;
    background: #fff;
    color: #161414;
}

.register .btn-custom:hover {
    background: #e6e6e6;
}

footer {
    background: #181e1f;
    min-height: 150px;
    color: #fff;
    margin: auto;
    text-align: center;
}

footer .social-links {
    font-size: 25px;
    margin: auto;
    margin-top: 15px;
}

footer .social-links i {
    margin: 10px;
}

footer p {
    font-size: 14px;
    color: #fff;
    padding: 5px;
}

footer a {
    color: #f0785a;
}

footer ul {
    list-style: none;
    width: 35%;
    margin: auto;
}

footer li {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    border-right: 2px solid #fff;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    color: #2fa943;
    text-decoration: none;
}

.no-right {
    border-right: none;
}

.no-bottom {
    border-bottom: none;
}
