body {
    background: #e7eaf3;
}

.container {
    width: 1050px;
    margin: auto;
}

.clear-fix {
    clear: both;
}

.col-2 {
    width: 50%;
    display: inline-block;
}

.btn {
    border: 1px solid #000;
    padding: 5px 10px;
    background: #f1f3f2;
    color: #000
}

nav {
    background: #3c5c95;
    color: #fff;
    height: 50px;
}

.navbar-left {
    float: left;
}

.navbar-left h1 {
    display: inline-block;
    line-height: 50px;
}

.navbar-left ul {
    display: inline-block;
}

.navbar-left ul li {
    float: left;
    margin-left: 10px;
}

.navbar-left .search {
    width: 300px;
    height: 30px;
    border-radius: 7px;
    margin: 0;
}

.navbar-right {
    float: right;
}

.navbar-right ul {
    float: right;
}

.navbar-right ul li {
    float: left;
    padding-right: 10px;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid #c3c3c3;
}

.navbar-right ul li a {
    color: #fff;
}

header .container {
    position: relative;
    box-sizing: border-box;
    border: 2px solid #c3c3c3;
}

header .cover-img {
    height: 400px;
    background: #c7cede;
}

header .profile-pic {
    width: 175px;
    height: 175px;
    position: absolute;
    top: 275px;
    left: 85px;
    background: #e7eaf3;
    border: 3px solid #fff;
    box-sizing: border-box;
}

header .info {
    padding-bottom: 35px;
}   

header .info  h2 {
    position: absolute;
    top: 410px;
    left: 270px;
}

header .info ul {
    float: right;
    margin-top: 10px;
}

header .info ul li {
    float: left;
    margin: 5px;
}

header .info .personal-information {
    margin-top: 80px;
    padding-left: 100px;
    background: #f1f2f7;
    width: 51%;
    float: left;
    margin-bottom: 10px;
    min-height: 100px;
    line-height: 25px;
}

.friends {
    width: 150px;
    height: 100px;
    background: #fffcff;
    position: absolute;
    top: 480px;
    left: 550px;
    line-height: 100px;
    text-align: center;
}

.photos {
    width: 150px;
    height: 100px;
    background: #f1f2f7;
    position: absolute;
    top: 480px;
    left: 725px;
    line-height: 100px;
    text-align: center;
}

main {
    margin-top: 10px;
}

main .container {
    position: relative;
}

.line {
    position: absolute;
    height: 400px;
    width: 0;
    border: 1px solid #c4c9dc;
    top: 0;
    left: 525px;
}

section {
    width: 47.5%;
    float: left;
    position: relative;
}

main section .status {
    background: #fff;
    padding: 10px;
}

.status ul li {
    display: inline-block;
    width: 20%;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #c3c3c3;
    text-align: center;
}

.status ul li.no-border {
    border: none;
}

.status input {
    margin-top: 10px;
    width: 95%;
    height: 30px;
    margin-left: 10px;
}

.post {
    margin-top: 20px;
    padding: 15px;
    background: #fff;
}

.post .img {
    width: 50px;
    height: 50px;
    background: #e5e9f2;
    display: inline-block;
}

.post p {
    margin-top: 30px;
}

aside {
    width: 47.5%;
    float: right;
    background: #fff;
    padding: 15px;
    position: relative;
}

aside h4 {
    margin-bottom: 10px;
}

aside hr {
    margin-bottom: 10px;
}

.row {
    margin-bottom: 10px;;
}
.col-2 .friend-img {
    width: 90px;
    height: 90px;
    background: #e5e9f2;
    display: inline-block;
}

.col-2 .friend-data {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    height: 90px;
    line-height: 30px;
}

.col-2 p, .col-2 a {
    font-size: 12px;
}