.clear-fix {
    clear: both;
}

.navbar-inverse {
    background: #3b3b3b;
    border-radius: 0;
    margin: 0;
    position: relative;
    line-height: 100%;
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 16px;
    font-weight: bold;
    color: #8e8e8e;
}

.navbar-inverse .navbar-nav>li>a>i {
    font-size: 20px;
}

.navbar-brand {
    position: absolute;
    top: 0;
    left: 50%;
}

.navbar-brand {
    font-size: 25px;
    line-height: 25px;
}

.navbar-brand i {
    color: #222;
}

.navbar-form .form-control {
    background: #555;
    border: none;
    border-radius: 25px;
}

.blue-icon {
    color: #298bd4;
}

main .container {
    background: rgba(255, 255, 255, 0.25);
    padding: 10px;

}

main {
    background: #8fc2dd;
}

header {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}

.img {
    width: 30px;
    height: 30px;
    background: #999;
    display: inline-block;
    border-radius: 5px;
}

.user-info {
    padding: 15px;
    float: left;
}

.user-img {
    width: 150px;
    height: 150px;
}

.user-data {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: 500px;
}

h1.username {
    font-weight: bold;
    vertical-align: top;
    margin: 0;
    margin-bottom: 10px;
}

p.user-handle {
    font-weight: bold;
    color: #999;
    font-size: 18px;
}

.normal-font {
    font-weight: normal;
}

p.user-bio {
    color: #999;
    font-style: italic;
}

p.user-location {
    display: inline-block;
}

a.user-link {
    color: #37bedc;
    margin-left: 10px;
    font-style: italic;
}

.user-interaction {
    padding: 15px;
    float: right;
}

a.btn {
    border: 1px solid #999;
    padding: 5px 10px;
    background: #dcdcdc;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.user-interaction ul {
    padding: 0;
    margin-top: 15px;
}

.user-interaction ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
}

.user-interaction ul li.no-border {
    border: none;
}

span {
    font-weight: bold;
    font-size: 18px;  
}

.brand-image {
    height: 90px;
    background: #87a1ae;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

aside {
    width: 39%;
    float: left;
}

aside .contact {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

h3.tweet-to {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}

.menu {
    padding: 15px;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 15px;
}

.menu ul {
    padding: 0;
}

.menu ul li {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #999;
}

.menu ul li.no-border {
    border: none;
}

.menu ul li a {
    color: #37bedc;
    font-size: 18px;
}

.menu ul li a.active {
    color: #000;
    font-weight: bold;
}

.img-row {
    width: 100%;
}

.img-thumbnail {
    width: 100px;
    height: 100px;
    background: #e8e8e8;
    border-radius: 0;
}

.recommended-people {
    padding: 15px;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 15px;
}

h3.title {
    margin: 0;
    font-size: 18px;
}

h3.title a {
    color: #37bedc;
    font-weight: bold;
    text-decoration: none;
}

.user-card {
    padding: 10px;
}

.user-picture {
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 5px;
}

.user-card-content {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

h4.username {
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
    color: #000;
}

h4.username span.user-handle {
    font-weight: normal;
    color: #666666;
    font-size: 14px;

}

.user-card a.follow {
    color: #37bedc;
}

footer {
    padding: 15px;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 15px;
}

h3.title {
    font-weight: bold;
    color: #999;
    margin-bottom: 10px;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
    display: inline-block;
    width: 100px;
    margin-bottom: 5px;
}

footer ul li a {
    font-size: 14px;
    color: #999;
}

section {
    width: 59%;
    float: right;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
}

section .tweets h3.title {
    color: #000;
}

.tweet-user-img {
    width: 70px;
    height: 70px;
}

.tweet-content {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    max-width: 550px;
    font-size: 16px;
}

.tweet-pic {
    width: 400px;
    height: 300px;
    background: #e8e8e8;
}

.tweet-reactions ul {
    margin-top: 15px;
    padding: 0;
}

.tweet-reactions ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: inline-block;
    width: 90px;
    padding-right: 5px;
    box-sizing: border-box;
}

.tweet-reactions .reaction-img-row {
    padding: 10px;
    display: inline-block;
    margin-left: 10px;
}

.reaction-img {
    display: inline-block;
    border-radius: 0;
}

p.timestamp {
    font-size: 13px;
    color: #999;
}

.tweet-actions ul {
    padding: 0;
}

.tweet-actions ul li {
    list-style: none;
    display: inline-block;
    width: 90px;
}

.reply-body {
    margin-left: 10px;
    display: inline-block;
    width: 450px;
}

.mention {
    color: #37bedc;
    font-size: 16px;
}
