body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	box-sizing: border-box;
	width: 100%;
}


h2 {
	font-weight: normal;
	color: #007b3b;
	margin: 5px 0 10px 0;
}

h5 {
	color: #0a356d;
	margin: 5px 0 10px 0;
}

p {
	font-size: 11px;
	color: #9b9875;
	margin: 0 0 10px 0;
}

.container {
	width: 900px;
}

header {
    height: 50px;
	line-height: 50px;
}

header .logo {
    margin-top: 5px;
    margin-left: 5px;
    width: 20%;
    float: left;
}

header nav{
    width: 50%;
    float: right;
}

header ul {
    text-align: right;
}

header ul li {
    display: inline-block;
    margin-left: 10px;
    padding-right: 10px;
    border-right-color: #ff2906;
    border-right-width: 2px;
    border-right-style: solid;
    line-height: 20px;
}

header ul li a:hover {
	color: #517208;
}

header ul li a {
	color: black;
}

.no-border {
    border: none;
}

.banner {
    background: url("../images/head.png");
    min-height: 200px;
}

.banner .image, .banner .title {
    display: inline-block;
}
.banner .title {
    width: 510px;
    text-align: center;
    line-height: 30px;
    float: right;
    margin-top: 90px;
}

.banner .title h3{
    width: 350px;
    display: inline-block;
    text-align: left;
    font-weight: normal;
    font-size: 20px;
}

.banner .title h3 span {
    font-size: 35px;
    color: #004802;
}

/*ul li {*/
    /*width: 20%;*/
    /*float: left;*/
    /*text-align: center;*/
/*}*/

main {
	width: 100%;
	min-height: 750px;
}

content {
	margin-top: 20px;
	display: inline-block;
	width: 60%;
}

content article.introduction button {
	background: maroon;
	color: white;
	font-weight: bold;
	padding: 5px;
	border-radius: 5px;
	border: none;
}

content figure.gallery {
	display: inline-block;
	width: 60%;
	margin-top: 10px;
	border-right: 1px dashed gray;
	box-sizing: border-box;
	min-height: 300px;
}

content .gallery .row {
	width: 100%;
	margin: 15px 0;
}

content .gallery .row .box {
	display: inline-block;
	width: 40%;
	height: 70px;
	overflow: hidden;
	margin-left: 4%;
}

content article.tips {
	width:35%;
	margin: 10px 0 20px;
	margin-right: 10px;
	float: right;
}


aside {
	box-sizing: border-box;
	width: 38%;
	margin-top: 30px;
	float: right;
}

aside .events {
	box-sizing: border-box;
	border: 5px solid #fcd598;
	width: 100%;
	background: #f9eddd;
	padding: 10px;
}

aside .events p {
	color: #c75300;
}

aside .best {
	box-sizing: border-box;
	margin-top: 20px;
	width: 100%;
	height: 125px;
	background: url("../images/10709281-silver-background.jpg");
	padding-top: 2px;
	text-align: center;
}

aside .best .image-banner {
	width: 90%;
	height: 55%;
	overflow: hidden;
	margin-left: 5%;
	margin-top: 10px;
	border: 3px solid white;
}

aside .best h6 {
	color: green;
	text-decoration: underline;
	margin-top: 10px;
}

footer {
	background: #aa4802;
	text-align: center;
	height: 100px;
	line-height: 50px;
}

footer ul li {
	display: inline-block;
	padding: 5px;
	border-right: 1px solid white;
	line-height: 4px;
	margin-right: 2px;  
	padding-right: 10px;
	color: white;
}

footer li a, footer p {
	font-size: 11px;
	color: white;
}